* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.btn-primary {
    background: #fff;
    color: #000;
    font-family: 'Poppins', serif;
    font-weight: 300;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: #000;
    color: #fff;
}

.heading-1 {
    font-family: 'Unbounded', cursive;
    font-size: 80px;
    margin-bottom: 20px;
}

.text-1 {
    font-family: 'Poppins', serif;
    font-weight: 300;
    max-width: 500px;
    margin-bottom: 10px;
}

.link {
    font-family: 'Poppins', serif;
    text-decoration: none;
    margin-bottom: 20px;
    opacity: 0.5;
    color: #fff;
    transition: all 0.3s ease;
}

.link:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .heading-1 {
        font-size: 60px;
    }

    .text-1 {
        font-size: 14px;
    }
}